<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Datos del contacto
      </div>
      <div class="card-body">
        <form #contactForm="ngForm" (ngSubmit)="addContact(contactForm)">

          <input type="hidden" name="_id" [(ngModel)]="contactService.selContact._id">

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="name"
              placeholder="Ingrese solo su nombre"
              [(ngModel)]="contactService.selContact.name"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="lastname"
              placeholder="Ingrese su apellido"
              [(ngModel)]="contactService.selContact.lastname"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="nickname"
              placeholder="Nickname"
              [(ngModel)]="contactService.selContact.nickname"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="phonenumber"
              placeholder="Numero de teléfono"
              [(ngModel)]="contactService.selContact.phonenumber"
            />
          </div>

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="email"
              placeholder="E-mail"
              [(ngModel)]="contactService.selContact.email"
            />
          </div>

          <button class="btn btn-primary" (click)="resetForm(contactForm)">
            Clean
          </button>
          <button class="btn btn-success">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col"></th>
         </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contactService.contacts">
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="">
            </div>
          </td>
          <td>{{ contact.lastname + ' ' + contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.phonenumber }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="editContact(contact)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteContact(contact._id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
